{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<section class="articles">
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 16/01/2019 à 16:39 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores nisi hic neque totam sequi ullam!</p>
            <p>Nostrum quidem laudantium, voluptas quam mollitia modi exercitationem deleniti dolorem, soluta rerum, maxime officiis totam.</p>
            <a href="" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 16/01/2019 à 16:39 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Maiores natus quibusdam repellendus cum debitis voluptatem reiciendis excepturi porro, animi quis repudiandae optio dignissimos?</p>
            <p>Voluptate, a deleniti adipisci, quisquam dolore magnam voluptatum pariatur, eius cupiditate laborum minus harum debitis!</p>
            <a href="" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 16/01/2019 à 16:39 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Provident corporis cupiditate sunt autem, ipsum debitis laboriosam vel doloribus neque. Qui itaque minima cupiditate.</p>
            <p>Aperiam voluptates assumenda error perspiciatis provident consequatur dolor distinctio. Aut maxime commodi tempore nisi quasi?</p>
            <a href="" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
     

</section>
{% endblock %}
