{% extends 'base.html.twig' %}


{# {% if age >18 %}
    <p>Tu es majeur<p/>
{% else %}
    <p>Tu es mineur</p>
{% endif %} #}

{% block body %}
<h1>{{title}}</h1>

<p>Latius iam disseminata licentia onerosus bonis omnibus Caesar nullum post haec adhibens modum orientis latera cuncta vexabat nec honoratis parcens nec urbium 
primatibus nec plebeiis.</p>

<p>Post haec indumentum regale quaerebatur et ministris fucandae purpurae tortis confessisque pectoralem tuniculam sine manicis textam, Maras nomine quidam inductus
est ut appellant Christiani diaconus, cuius prolatae litterae scriptae Graeco sermone ad Tyrii textrini praepositum celerari speciem perurgebant quam autem non 
indicabant denique etiam idem ad usque discrimen vitae vexatus nihil fateri conpulsus est.</p>
{% endblock %}